{% extends 'main.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<!-- Portfolio Section -->
<!-- Portfolio Grid Section -->
<section class="section" id="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>My Work in Motion</h2>
            <p>Wanna see the magic in action? Check out some of my favorite projects below.</p>
        </div>
        
        <div class="portfolio-grid">
            {% for project in portfolio %}
            <!-- Portfolio Item -->
            <div class="portfolio-card" data-id="1">
                <a href="{% url 'project-detail' project.id %}">
                <div class="portfolio-image">
                    <img src="{{project.thumbnailURL}}" alt="{{project.title}}">
                </div>
                <div class="portfolio-content">
                    <h3>{{project.title}}</h3>
                    <div class="portfolio-meta">Client: {{project.client}} | Type: {{project.project_type}}</div>
                    <p>"{{project.description}}"</p>
                    <a class="btn btn-outline" href="{% url 'project-detail-example' project.id %}">View Details</a>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% include 'pagination.html' %}
    </div>
</section>

{% endblock %}
